.welcome-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 38px;
    border: none;
    color: #ffffff;
    height: 100vh;
}

body {
    color: black(164, 83, 83);
    background-color: white;
}

.modal {
    background-color: #ffffff;
    color: #000;
    padding: 20px;
    border: none;
    width: 365px;
    margin-right: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    outline: none;
    height: 100vh;
}

.button-group {
    display: flex;
    flex-direction: column;
}

.button-group button,
.welcome-screen button,
.email-field button {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

.welcome-screen,
.email-field {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border: none;
}

input,
textarea {
    font-size: 14px;
    margin: 2px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin: 2px 0;
    padding: 2px;
    border: none;
    width: 100%;
}

input[type="text"] {
    margin-bottom: 10px;
}

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

.display-content {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 450px;
    height: 100%;
    transition: flex-direction 0.3s;
}

.display-content2 {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 500px;
    height: 100%;
    transition: flex-direction 0.3s;
}

.content-text {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.content-text2 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.content-text h1 {
    font-size: 38px;
}

.content-text p {
    font-size: 28px;
}

.content-text label{
    margin-left: 10px;
}

.layout-button {
    margin: 10px;
    padding: 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.display-content img {
    width: 90vh;
    margin-left: 20px;
}

.display-content button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 80px;
    background-color: black;
    color: white;
}

.custom-file-upload {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    border-radius: 5px;
    text-align: center;
    width: 120px;
    margin-top: 4px;
}

#fileInput {
    display: none;
}

.upload-icon {
    margin-right: 2px;

}

.layout-icon {
    margin-right: 2px;

}

.close-btn {
    padding: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    transition: background-color 0.3s;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-image-btn {
    padding: 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    width: 120px;
}

.modal-image {
    width: 100px;
    height: auto;
}

.save-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 2px;
    width: 130px;
}

.save-btn:hover {
    background-color: rgb(113, 113, 113);
}

.discard-btn:hover {
    background-color: #f8dccc;

}


.discard-btn {
    background-color: white;
    color: rgb(240, 93, 93);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 130px;
    margin-left: 10px;

}


.underline-input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
}

.underline-input:focus {
    outline: none;
    border-bottom: 1px solid #000;
}

@media (max-width: 768px) {
    .display-content, .display-content2 {
        flex-direction: column;
    }
}